<!doctype html>
<html lang="en">

<head>
  <title></title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style media="screen">
    /* input[type=text]{
        height: 200px;
        width: 500px
      } */
      button{
        float:right
      }
      .answer{
        color: #339900
      }
      .answer b{
        color: red
      }

    </style>
</head>

<body>
  <div class="container p-5">
    <h2>
      hallo
      <%= myname %>
    </h2>

    <form class="" action="/logout" method="post">
      <button class="" type="submit" name="button">logout</button>
    </form>

    <form class="tanya" action="/quest" method="post" id="areaform">
      <textarea name="question" class="form-control" rows="8" cols="80" form="areaform"></textarea><br>
      <input type="submit" name="" value="tanya">
    </form>

    <div class="py-5">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">public question</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">my question</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class=" public pb-5 tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <%for (all of data){%>
          <div class="bg-light p-3 my-3">
            <b><%= all.question %></b>

            <small class="text-muted">
              <span class="float-right"> asker :
                <%= all.User.username%>
              </span>
            </small><br>
            <!-- jawaban -->
            <p class="answer">
              <% if (all.Answers != null) { %>

              <% for (ans of all.Answers ){%>
              <b><%= ans.User.username.toUpperCase() %></b> :
              <%= ans.answer %> <br>
              <%}%>

              <% }else{ %>
              <p>null</p>
              <% } %>
            </p>


            <form action="/answer/<%=all.id%>" method="post" name="answer" id="ans">
              <textarea class="form-control" name="answer" cols="80"></textarea><br>
              <input type="submit" name="" value="jawab">
            </form>
          </div>
          <%}%>

        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <%for (tanya of dataMe){%>
          <div class="bg-light p-3 my-3">
            <br>
            <%= tanya.question %> <br>
            <% for (ans of tanya.Answers ){%>
            <b><%= ans.User.username.toUpperCase() %></b> :
            <%= ans.answer %> <br>
            <%}%>
            <form class="float-right" action="/delete/<%= tanya.id %>" method="post">
              <input type="submit" name="" value="hapus">
            </form>

          </div>

          <%}%>

        </div>
      </div>
    </div>
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <!-- ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(()=>{
        console.log(dataMe)
    })

  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>
